<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    
   
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->
    
    <!-- Example Services Decleration -->
    
    
    <bean id="courseServiceImpl" class="com.abbhsoft.trainingschedular.serviceImpl.CourseServiceImpl" >
        <property name="courseDAO" ref="courseDAOImpl"/>
    </bean>
    
   
    <bean id="instructorServiceImpl" class="com.abbhsoft.trainingschedular.serviceImpl.InstructorServiceImpl" >
        <property name="instructorDAO" ref="instructorDAOImpl"/>
    </bean>
    
    <bean id="usersServiceImpl" class="com.abbhsoft.trainingschedular.serviceImpl.UsersServiceImpl" >
        <property name="userDAO" ref="usersDAOImpl"/>
    </bean>
    

    <!--
     ##########################################################################
                            Services Declerations End
     ##########################################################################
    -->
    
</beans>
