<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    
    <!-- EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="TrainingSchedular-DAOPU"/>
    </bean>
    
    <!-- Production Deployement -->
    <!-- <jndi:lookup id="entityManagerFactory" jndi-name="jpa/Timesheet-DAOPU"/> -->

    <!--
     ##########################################################################
                            DAO Declerations Begin
     ##########################################################################
    -->
    
    <!-- Example DAO Decleration -->
    <!--
    <bean id="addressDAOImpl" class="com.abbh.timesheet.daoImpl.AddressDAOImpl" >
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    -->

    <bean id="emfTemplate" abstract="true">
	<property name="entityManagerFactory"><ref bean="entityManagerFactory"/></property>
    </bean>
    
    <bean id="addressDAOImpl" class="com.abbhsoft.trainingschedular.daoImpl.AddressDAOImpl" parent="emfTemplate" />       
    
   <bean id="courseClassDAOImpl" class="com.abbhsoft.trainingschedular.daoImpl.CourseClassDAOImpl" parent="emfTemplate" />       
   
   <bean id="courseDAOImpl" class="com.abbhsoft.trainingschedular.daoImpl.CourseDAOImpl" parent="emfTemplate" />       
   
   <bean id="instructorDAOImpl" class="com.abbhsoft.trainingschedular.daoImpl.InstructorDAOImpl" parent="emfTemplate" />       
   
   <bean id="phoneDAOImpl" class="com.abbhsoft.trainingschedular.daoImpl.PhoneDAOImpl" parent="emfTemplate" />       
   
   <bean id="preRequisiteDAOImpl" class="com.abbhsoft.trainingschedular.daoImpl.PreRequisiteDAOImpl" parent="emfTemplate" />       
   
   <bean id="usersDAOImpl" class="com.abbhsoft.trainingschedular.daoImpl.UsersDAOImpl" parent="emfTemplate" />       
   
   
    
   <!--
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" parent="emfTemplate" />
    -->
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
      <property name="url" value="jdbc:oracle:thin:@192.168.0.107:1521:xe"/>
      <property name="username" value="shannan"/>
      <property name="password" value="shannan"/>
    </bean>
   
    <!--
     ##########################################################################
                            DAO Declerations End
     ##########################################################################
    -->
    
</beans>