<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    
   
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->
    
    <!-- Example Services Decleration -->
    
    <!--
    <bean id="personServiceImpl" class="com.company.projectname.service.impl.PersonServiceImpl" >
        <property name="personDao" ref="personDao"/>
    </bean>
    
    -->
    
    <bean id="eventServiceImpl" class="com.abbhsoft.srm.service.impl.EventServiceImpl" >
        <property name="eventDao" ref="eventDao" />
        <property name="universityDao" ref="universityDao" />
    </bean>
    
    <bean id="campusServiceImpl" class="com.abbhsoft.srm.service.impl.CampusServiceImpl" >
        <property name="campusDao" ref="campusDao" />
    </bean>
    
    <bean id="emailGroupServiceImpl" class="com.abbhsoft.srm.service.impl.EmailGroupServiceImpl" >
        <property name="emailGroupDao" ref="emailGroupDao" />
    </bean>
    
    <bean id="studentServiceImpl" class="com.abbhsoft.srm.service.impl.StudentServiceImpl" >
        <property name="studentDao" ref="studentDao" />
        <property name="queryDao" ref="queryDao" />
    </bean>
    
    <bean id="searchEngineServiceImpl" class="com.abbhsoft.srm.service.impl.SearchEngineServiceImpl" >
        <property name="studentDao" ref="studentDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="universityDao" ref="universityDao" />
        <property name="emailGroupDao" ref="emailGroupDao" />
    </bean>

    <bean id="universityServiceImpl" class="com.abbhsoft.srm.service.impl.UniversityServiceImpl" >
        <property name="universityDao" ref="universityDao" />
    </bean>
    
    <bean id="eMailServiceImpl" class="com.abbhsoft.srm.service.impl.EMailServiceImpl" >
        <property name="emailTemplateDao" ref="emailTemplateDao"/>
    </bean>
    
   
    <!--
     ##########################################################################
                            Services Declerations End
     ##########################################################################
    -->
    
</beans>
