<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="SRMPU" transaction-type="RESOURCE_LOCAL">
    <provider>oracle.toplink.essentials.PersistenceProvider</provider>
    <jta-data-source>srm</jta-data-source>
    <class>com.abbhsoft.srm.model.Address</class>
    <class>com.abbhsoft.srm.model.Authorities</class>
    <class>com.abbhsoft.srm.model.Authority</class>
    <class>com.abbhsoft.srm.model.Campus</class>
    <class>com.abbhsoft.srm.model.Event</class>
    <class>com.abbhsoft.srm.model.Faq</class>
    <class>com.abbhsoft.srm.model.KeyValue</class>
    <class>com.abbhsoft.srm.model.Query</class>
    <class>com.abbhsoft.srm.model.Student</class>
    <class>com.abbhsoft.srm.model.StudentFaq</class>
    <class>com.abbhsoft.srm.model.University</class>
    <class>com.abbhsoft.srm.model.Users</class>
    <class>com.abbhsoft.srm.model.EmailGroup</class>
    <properties>
      <property name="toplink.jdbc.user" value="srm"/>
      <property name="toplink.jdbc.password" value="srm"/>
      <property name="toplink.jdbc.url" value="jdbc:mysql://71.57.126.129:3306/srm"/>
      <property name="toplink.jdbc.driver" value="com.mysql.jdbc.Driver"/>
    </properties>
  </persistence-unit>
</persistence>
